{% extends 'includes/header/header.html' %}
{% load static %}
{% block content %}
    <body>
    <style>

        .navbar {
            background-color: #1c158c !important;
        }

        .main__icon {
            font-size: 50px;
            color: #1c158c;
        }

        .container {
            margin-top: 10%;
        }

        .card__small {
            padding: 15px;
            height: 150px;
            width: 350px;
        }

        .card:hover {
            cursor: pointer;
        }

        .upload__new_song {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            position: fixed;
            bottom: 40px;
            right: 40px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;
            background-color: #1c158c;
            color: white;
            padding: 10px;
        }

        .upload__btn {
            background-color: #1c158c !important;
            color: #fff;
        }

        .fa-plus {
            font-size: 30px;
        }

        .file__upload {
            padding: 3px;
        }

        a {
            color: #ffffff;
        }

        .overlay {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: fixed;
            background: #fff;
            opacity: 0.8;
        }

        .overlay__inner {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .overlay__content {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .spinner {
            width: 75px;
            height: 75px;
            display: inline-block;
            border-width: 2px;
            border-color: #1c158c;
            border-top-color: #fff;
            animation: spin 1s infinite linear;
            border-radius: 100%;
            border-style: solid;
        }

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

        canvas {
            position: absolute;
            margin-top: -57%;
            margin-left: 22%;
        }

        .webcam__block{
            margin-top: -8%;
        }

        .graph__img{
            height: 500px;
        }

        .navbar__heading {
            top: 3px;
            left: 50%;
            position: absolute;
            transform: translate(-50%);
            letter-spacing: 10px;
        }

        .emoji {
            width: 150px;
            height: 150px;
        }

        .emoji__card {
            width: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
        }

        #bg-image {
            background-image: url('{% static "assets/images/home/WhatsApp Image 2020-09-11 at 12.15.08 AM (2).jpeg" %}');
            background-size: contain;
        }

        .happy_div{
            width: 500px;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand d-flex" href="#">
            <h3 class="mt-2 text-white navbar__heading">EMOTION RECOGNITION JUKE BOX</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav ml-auto nav-flex-icons text-white">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row" id="camera-and-choose-image-block">
            <div class="col-md-3">
                <img src="{% static 'assets/images/home/WhatsApp Image 2020-09-11 at 12.15.07 AM.jpeg' %}" alt="" style="border-radius: 150px;width: 100%" />
            </div>
            <div class="col-md-8 ml-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card text-center hoverable card__small" id="open_camera">
                            <i class="fas fa-camera fa-lg main__icon"></i>
                            <div class="card-body">
                                <h4 class="card-title">OPEN CAMERA</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-center hoverable card__small" id="choose_image">
                            <i class="far fa-file-image main__icon"></i>
                            <div class="card-body">
                                <h4 class="card-title">CHOOSE IMAGE</h4>
                            </div>
                        </div>
                        <input type="file" id="upload_image" style="display: none"/>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <div class="card text-center hoverable card__small" id="choose_song_category">
                            <i class="fas fa-plus-circle fa-lg main__icon"></i>
                            <div class="card-body">
                                <h4 class="card-title">ADD SONGS</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-center hoverable card__small" data-toggle="modal" data-target="#my-playlist-modal">
                            <i class="fas fa-music main__icon"></i>
                            <div class="card-body">
                                <h4 class="card-title">MY PLAYLISTS</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="image-preview-block" style="display: none">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <img src="" id="preview-image" style="width: 150px;height: 150px;"/>
                <h3 id="choose-image-reslt" style="margin-top: 50px;"></h3>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row" id="process__image_btn" style="display: none">
            <div class="col-md-12 text-center">
                <button type="button" class="btn upload__btn mt-3" id="process-img">Process <i class="fas fa-sync"></i>
                </button>
            </div>
        </div>

        <div id="view-graphs-1" class="mt-5 text-center" style="display: none;">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                    aria-controls="collapseExample" style="text-align: center;color: #000">
                    View Graphs <i class="fas fa-angle-down"></i>
            </a>
            <div class="collapse" id="collapseExample">
                <div class="card">
                    <div class="card-body">
                        <div class="row" >
                            <div class="col-md-6">
                                <img src="{% static 'assets/images/graphs/graph1.jpg' %}" class="graph__img">
                            </div>
                            <div class="col-md-6"> 
                                <img src="{% static 'assets/images/graphs/graph2.jpg' %}" class="graph__img">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <img src="{% static 'assets/images/graphs/graph3.jpg' %}" class="graph__img">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        <div class="row" id="stop__music_btn1" style="display: none">
            <div class="col-md-12 text-center">
                <button type="button" class="btn upload__btn mt-3" id="process-img">Refresh <i class="fas fa-sync"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-new-song-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title selection-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="file" class="form-control file__upload"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="upload-new-song" class="btn upload__btn">Upload <i class="fas fa-cloud-upload-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="webcam__block text-center" style="display: none">
        <video id="video" width="720" height="560" autoplay muted></video>
    </div>

    <div id="view-graphs-2" class="mt-5 text-center" style="display: none;">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                    aria-controls="collapseExample" style="text-align: center;color: #000">
                    View Graphs <i class="fas fa-angle-down"></i>
            </a>
            <div class="collapse" id="collapseExample">
                <div class="card">
                    <div class="card-body">
                        <div class="row" >
                            <div class="col-md-6">
                                <img src="{% static 'assets/images/graphs/graph1.jpg' %}" class="graph__img">
                            </div>
                            <div class="col-md-6"> 
                                <img src="{% static 'assets/images/graphs/graph2.jpg' %}" class="graph__img">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <img src="{% static 'assets/images/graphs/graph3.jpg' %}" class="graph__img">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

    <div class="row" id="stop__music_btn2" style="display: none">
        <div class="col-md-12 text-center">
            <button type="button" class="btn upload__btn mt-3" id="process-img">Refresh <i class="fas fa-sync"></i>
            </button>
        </div>
    </div>

    <div class="overlay" id="loader" style="display: none">
        <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
        </div>
    </div>

    <div class="capturing__image_block" style="top: 50%; left: 50%; transform: translate(-50%, -50%);position: absolute;display: none;">
        <div class="card p-4" style="border-radius: 30px; width: 380px; background-color: #1C158C;">
            <h5 style="display: flex;align-items: center;font-family: 'Dancing Script', cursive;justify-content: center; color: white;" id="capturing__image_result">CAPTURING THE IMAGE</h5>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
    </div>

    <div class="select__song_category_block" style="margin-top: -8%;display: none;">
        <h1 class="text-center" style="color: #1c158c;">ADD NEW SONG</h1>
        <p class="text-center" >Please select the category</p>
        <div class="container">
            <div class="row" style="margin-top: -10%">
                <div class="col-md-4">
                    <div class="card p-4 emoji__card" onclick='selectCategory("happy")'>
                        <img src="{% static 'assets/images/emojis/WhatsApp Image 2020-09-11 at 12.15.13 AM.jpeg' %}" class="emoji"/>
                        <h6>HAPPY</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-4 emoji__card" onclick='selectCategory("sad")'> 
                        <img src="{% static 'assets/images/emojis/WhatsApp Image 2020-09-11 at 12.15.12 AM.jpeg' %}" class="emoji"/>
                        <h6>SAD</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-4 emoji__card" onclick='selectCategory("fear")'>
                        <img src="{% static 'assets/images/emojis/WhatsApp Image 2020-09-11 at 12.15.11 AM (1).jpeg' %}" class="emoji"/>
                        <h6>FEAR</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card p-4 emoji__card" onclick='selectCategory("surprise")'>
                        <img src="{% static 'assets/images/emojis/WhatsApp Image 2020-09-11 at 12.15.12 AM (1).jpeg' %}" class="emoji"/>
                        <h6>SURPRISE</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-4 emoji__card" onclick='selectCategory("angry")'>
                        <img src="{% static 'assets/images/emojis/WhatsApp Image 2020-09-11 at 12.15.11 AM.jpeg' %}" class="emoji"/>
                        <h6>ANGRY</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-4 emoji__card" onclick='selectCategory("neutral")'>
                        <img src="{% static 'assets/images/emojis/WhatsApp Image 2020-09-11 at 12.15.13 AM (1).jpeg' %}" class="emoji"/>
                        <h6>NEUTRAL</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="my-playlist-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="max-width: 100%;height: 100vh;margin: 0; padding: 0;">
            <div class="modal-content" style="height: auto;min-height: 100%;border-radius: 0;">
                <div class="modal-header">
                    <h2 class="modal-title text-center" id="exampleModalLabel" style="color: #1C158C;left: 50%;transform: translate(-50%);position: absolute;">MY PLAYLIST</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </div>
                <div class="modal-body" id="bg-image">
                   <div class="p-4 songs_card border" style="height: 400px;overflow-y: scroll; text-align: center;">
                        {% for songs in happy_songs %}
                            <div class="happy_div" style="background-color: #1C158C; border-radius: 10px;">
                                <h3 class="text-center text-white">HAPPY</h3>
                            </div>
                            <div class="happy_songs">
                                {% for song in songs %}
                                <audio controls>
                                    <source src="{% static 'assets/js/songs/happy/' %}{{ song }}" type="audio/mp3">
                                </audio>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        {% for songs in angry_songs %}
                        <div class="happy_div" style="background-color: #1C158C; border-radius: 10px;">
                            <h3 class="text-center text-white">ANGRY</h3>
                        </div>
                        <div class="happy_songs">
                            {% for song in songs %}
                            <audio controls>
                                <source src="{% static 'assets/js/songs/angry/' %}{{ song }}" type="audio/mp3">
                            </audio>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% for songs in disgust_songs %}
                        <div class="happy_div" style="background-color: #1C158C; border-radius: 10px;">
                            <h3 class="text-center text-white">DISGUST</h3>
                        </div>
                        <div class="happy_songs">
                            {% for song in songs %}
                            <audio controls>
                                <source src="{% static 'assets/js/songs/disgust/' %}{{ song }}" type="audio/mp3">
                            </audio>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% for songs in fear_songs %}
                        <div class="happy_div" style="background-color: #1C158C; border-radius: 10px;">
                            <h3 class="text-center text-white">FEAR</h3>
                        </div>
                        <div class="happy_songs">
                            {% for song in songs %}
                            <audio controls>
                                <source src="{% static 'assets/js/songs/fear/' %}{{ song }}" type="audio/mp3">
                            </audio>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% for songs in neutral_songs %}
                        <div class="happy_div" style="background-color: #1C158C; border-radius: 10px;">
                            <h3 class="text-center text-white">NEUTRAL</h3>
                        </div>
                        <div class="happy_songs">
                            {% for song in songs %}
                            <audio controls>
                                <source src="{% static 'assets/js/songs/neutral/' %}{{ song }}" type="audio/mp3">
                            </audio>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% for songs in sad_songs %}
                        <div class="happy_div" style="background-color: #1C158C; border-radius: 10px;">
                            <h3 class="text-center text-white">SAD</h3>
                        </div>
                        <div class="happy_songs">
                            {% for song in songs %}
                            <audio controls>
                                <source src="{% static 'assets/js/songs/sad/' %}{{ song }}" type="audio/mp3">
                            </audio>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% for songs in surprise_songs %}
                        <div class="happy_div" style="background-color: #1C158C; border-radius: 10px;">
                            <h3 class="text-center text-white">SURPRISE</h3>
                        </div>
                        <div class="happy_songs">
                            {% for song in songs %}
                            <audio controls>
                                <source src="{% static 'assets/js/songs/surprise/' %}{{ song }}" type="audio/mp3">
                            </audio>
                            {% endfor %}
                        </div>
                        {% endfor %}
                   </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        
            var folder_name = ""

            function selectCategory(value) {
                folder_name = value
                $(this).css("background-color","lightblue");
                $('.selection-title').html('Upload the ' + value + ' song')
                $('#add-new-song-modal').modal('show');
            }
    </script>

</body>
</html>

{% endblock %}